<app-navbar></app-navbar>

<div id="container" class="container mt-5 pt-5">
  <button (click)="openModal()" class="btn btn-primary mb-3 float-right">
    Añadir Curso
  </button>
  <br>
  <form id="seleccionable" class="form-inline my-2 my-lg-0">
    <input type="text" class="form-control" name="filterPost" placeholder="Busca un Curso..." [(ngModel)]="filterPost">
  </form>
  <br>
  <div *ngIf="cursos.length > 0" class="table-responsive">
    <table class="table table-striped table-light text-center">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Numero</th>
          <th>Name</th>          
          <th>Asignatura</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let curso of cursos  | filter:filterPost; index as i">
            <th>{{ i + 1 }}</th>
            <td>{{ curso.numero }}</td>
            <td>{{ curso.name }}</td>            
            <td>{{ curso.asignatura.name }}</td>
            <td>
              <button (click)="openModal(curso)" class="btn btn-warning">
                Edit
              </button>
            </td>
            <td>
              <button (click)="deletecurso(curso.id)" class="btn btn-danger">
                Delete
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-curso-crud
  [showModal]="showModal"
  [curso]="curso"
  (close)="closeModal($event)"
  (newCurso)="updateCurso($event)"
></app-curso-crud>
