<div class="myContainer" [class.myContainer]="!showModal">
    <div class="modal mt-5" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header bg-dark text-light">
              <h5 class="modal-title">Crear Alumno</h5>
              <button
                type="button"
                class="close text-light"
                data-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div>
                <input
                  class="form-control mt-3"
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                  [(ngModel)]="alumno.name"
                />
              </div>
              <div *ngIf="submitted && form.invalid">
                <div *ngFor="let error of errorMessages.name">
                  <div *ngIf="f.name.hasError(error.type)">
                    <small class="text-danger">{{ error.message }}</small>
                  </div>
                </div>
              </div>
              <div>
                <input
                  class="form-control mt-3"
                  type="text"
                  placeholder="lastname"
                  formControlName="lastname"
                  [(ngModel)]="alumno.lastname"
                />
              </div>
              <div *ngIf="submitted && form.invalid">
                <div *ngFor="let error of errorMessages.lastname">
                  <div *ngIf="f.lastname.hasError(error.type)">
                    <small class="text-danger">{{ error.message }}</small>
                  </div>
                </div>
              </div>
              <div>
                <input
                  class="form-control mt-3"
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                  [(ngModel)]="alumno.email"
                />
              </div>
              <div *ngIf="submitted && form.invalid">
                <div *ngFor="let error of errorMessages.email">
                  <div *ngIf="f.email.hasError(error.type)">
                    <small class="text-danger">{{ error.message }}</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="mt-3">Rol: <span *ngIf="alumno.role" class="badge badge-dark">{{alumno.role}}</span></label>
                <select class="form-control" formControlName="role">
                  <option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                  </option>
              </select>
                <div *ngIf="submitted && form.invalid">
                  <div *ngFor="let error of errorMessages.role">
                    <div *ngIf="f.role.hasError(error.type)">
                      <small class="text-danger">{{ error.message }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="">Tutor Asignado:  <span *ngIf="alumno.tutor.lastname" class="badge badge-dark">{{alumno.tutor.lastname}}</span> </label>
                <select
                  class="form-control"
                  formControlName="tutor"
                >
                <option value="0">Ninguno</option>
                  <option
                    *ngFor="let tutor of tutors"
                    [value]="tutor.id"
                  >
                  {{ tutor.lastname }}
                  </option>
                </select>
                <div *ngIf="submitted && form.invalid">
                  <div *ngFor="let error of errorMessages.tutor">
                    <div *ngIf="f.tutor.hasError(error.type)">
                      <small class="text-danger">{{ error.message }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="">Profesor Asignado:  <span *ngIf="alumno.profesor.lastname" class="badge badge-dark">{{alumno.profesor.lastname}}</span> </label>
                <select
                  class="form-control"
                  formControlName="profesor"
                >
                <option value="0">Ninguno</option>
                  <option
                    *ngFor="let profesor of profesors"
                    [value]="profesor.id"
                  >
                  {{ profesor.lastname }}
                  </option>
                </select>
                <div *ngIf="submitted && form.invalid">
                  <div *ngFor="let error of errorMessages.profesor">
                    <div *ngIf="f.profesor.hasError(error.type)">
                      <small class="text-danger">{{ error.message }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="">Curso Asignado: <span *ngIf="alumno.curso.name" class="badge badge-dark">{{alumno.curso.name}}</span> </label>
                <select
                  class="form-control"
                  formControlName="curso"
                >
                <option value="0">Ninguno</option>
                  <option
                    *ngFor="let curso of cursos"
                    [value]="curso.id"
                  >
                  {{ curso.name }}
                  </option>
                </select>
                <div *ngIf="submitted && form.invalid">
                  <div *ngFor="let error of errorMessages.curso">
                    <div *ngIf="f.curso.hasError(error.type)">
                      <small class="text-danger">{{ error.message }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer bg-dark text-light mt-3">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
