.list-group{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #eeeee4;
}

a{
    color: blue;
    text-decoration: underline;

}

a:focus{
    cursor: pointer;
    color: red;
}

#contenedor {
    width: 100%;
  }

  #equipo {
    float: left;
    width: 15%;
  }

  #diario {
    float: left;
    width: 70%;
  }

  #mensaje {
    float: right;
    margin-bottom:  10px;
    margin-right: 10px;
    width: 15%;
  }
  
  .myContainer {
    display: none;
}

.modal {
    display: block;
}

.card, .card-header {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.accordion {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    white-space: pre-wrap;
}
    _other {
        background-color: #007bff;
        color: #fff;
        float: right;
    }

    __owner {
        background-color: #007bff;
        color: #fff;
        float: right;
    }

    __time {
        color: #fff;
        float: right;
        margin-top: 0;
    }
