.list-group{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #eeeee4;
}

a{
    color: blue;
    text-decoration: underline;

}

a:focus{
    cursor: pointer;
    color: red;
}

#contenedor {
    text-align: center;
  }

  #equipo {
    float: left;
  }
  
  #suma{
    align-items: flex-end;
  }

  #diario {
    float: center;
  }

  #accordion {
    float: right;
    margin: 5px;
    padding: 5px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
}
  
  .myContainer {
    display: none;
}

.modal {
    display: block;
}

