<app-navbar></app-navbar>
<div id="contenedor">
  <div id="equipo">
<div *ngIf="equipos.length > 0" style="width: 30%;">
  <h1>Tareas de:</h1>
  <ul  *ngFor="let equipo of equipos">
    <li>
      <a (click)="getDiarioID(equipo.id)" >{{equipo.id}} {{equipo.alumno.name}} {{alumno.lastname}}</a>
  </li>
</ul>
</div>
</div>
<!-- *ngFor="let alumno of alumnos; index as i-->
<!-- <ng-container *ngFor="let alumno of alumnos"; index as i>
  <div>
  <ul class="list-group">
    <li class="list-group-item">Alumno: {{ alumno.name}} {{alumno.lastname}} </li>
    <li class="list-group-item">Tutor Seguimiento: {{ tutor.name}} {{tutor.lastname}}</li>
    <li class="list-group-item">Empresa Asignada: {{ tutor.nombreEmpresa}}</li>
    <li class="list-group-item">Profesor Seguimiento: {{ profesor.name}} {{profesor.lastname}}</li>
  </ul>
</div>
</ng-container> -->
<div id="diario">
<div class="row m-4 p-4">
<div class="col-7" style="width: 70%;" >
  <div class="d-flex justify-content-between align-items-center">
    <h1>Diario</h1> 
  <button (click)="openModal()" *ngIf="user.role === 'Alumno'" class="btn btn-primary mb-3 float-right">
    Crear Tarea
  </button>
  </div> 
  <div *ngIf="diarios.length > 0" class="table-responsive">
    <table class="table table-striped table-light text-center">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Asignatura</th>
          <th>Descripcion</th>          
          <th>Horas</th>
          <th>Link</th>
          <th>Evaluacion Tutor</th>
          <th>Evaluacion Profesor</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let diario of diarios; index as i">
            <ng-container>
            <th>{{ i + 1 }}</th>
            <td>{{ diario.date | date:'mediumDate' }}</td>
            <td>{{ diario.asignatura.name  }}</td>
            <td>{{ diario.descripcion }}</td>
            <td>{{ diario.horas}}</td>
            <td>{{ diario.link}}</td>
            <td>{{ diario.evaluacionT}}</td>
            <td>{{ diario.evaluacionP}}</td>            
            <td>
              <button (click)="openModal(this.diario)"  class="btn btn-warning">
                Edit
              </button>
            </td>
            <td>
              <button (click)="deletediario(diario.id)"  class="btn btn-danger">
                Delete
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="col-5" style="width: 30%;">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Evaluacion</h1>
  <button (click)="openEvalModal()" *ngIf="user.role === 'Tutor'" class="btn btn-primary mb-3 float-right">
    Añadir Evaluacion
  </button>
  </div>
  <div *ngIf="evaluacions.length > 0" class="table-responsive">
    <table  class="table table-striped table-light text-center">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Nota Tutor</th>
          <th>Nota Profesor</th>
          <th *ngIf="user.role != 'Alumno'">Edit</th>
          <th *ngIf="user.role != 'Alumno'">Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let evaluacion of evaluacions; index as i">
            <th>{{ i + 1 }}</th>
            <td>{{ evaluacion.date | date:'mediumDate'}}</td>
            <td>{{ evaluacion.evaluacionT }}</td>
            <td>{{ evaluacion.evaluacionP}}</td>          
            <td>
              <button (click)="openEvalModal(evaluacion)" *ngIf="user.role === 'Profesor'" class="btn btn-warning">
                Edit
              </button>
            </td>
            <td>
              <button (click)="deleteevaluacion(evaluacion.id)" *ngIf="user.role != 'Alumno'" class="btn btn-danger">
                Delete
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
</div>
</div>
</div>

<app-diario-crud
  [showModal]="showModal"
  [diario]="diario"
  (close)="closeModal($event)"
  (newDiario)="updateDiario($event)"
></app-diario-crud>

<app-evaluacion-crud
  [showModal]="showEvaluacionModal"
  [evaluacion]="evaluacion"
  (close)="closeEvalModal($event)"
  (newEvaluacion)="updateEvaluacion($event)"
></app-evaluacion-crud>

