<div class="myContainer" [class.myContainer]="!showModal">
    <div class="modal mt-5" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header bg-dark text-light">
              <h5 class="modal-title">Añadir Asignatura</h5>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div>
                <input
                  class="form-control mt-3"
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                  [(ngModel)]="asignatura.name"
                />
              </div>
              <div *ngIf="submitted && form.invalid">
                <div *ngFor="let error of errorMessages.name">
                  <div *ngIf="f.name.hasError(error.type)">
                    <small class="text-danger">{{ error.message }}</small>
                  </div>
                </div>
              </div>
              <div>
                <input
                  class="form-control mt-3"
                  type="text"
                  placeholder="codigo"
                  formControlName="codigo"
                  [(ngModel)]="asignatura.codigo"
                />
              </div>
              <div *ngIf="submitted && form.invalid">
                <div *ngFor="let error of errorMessages.codigo">
                  <div *ngIf="f.codigo.hasError(error.type)">
                    <small class="text-danger">{{ error.message }}</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="">Profesor Asignado:   </label>
                <select
                  class="form-control"
                  formControlName="profesor"
                  [(ngModel)]="asignatura.profesor.id"
                >
                  <option
                    *ngFor="let profesor of profesors"
                    [value]="profesor.id"
                  >
                  {{ profesor.name}} - {{ profesor.lastname }}
                  </option>
                </select>
                <div *ngIf="submitted && form.invalid">
                  <div *ngFor="let error of errorMessages.profesor">
                    <div *ngIf="f.profesor.hasError(error.type)">
                      <small class="text-danger">{{ error.message }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer bg-dark text-light mt-3">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
