<app-navbar></app-navbar>

<div class="container mt-5 pt-5">
  <button (click)="openModal()" class="btn btn-primary mb-3 float-right">
    Crear Tutor
  </button>
  <div *ngIf="tutors.length > 0" class="table-responsive">
    <table class="table table-striped table-light text-center">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Profesores</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tutor of tutors; index as i">
            <th>{{ i + 1 }}</th>
            <td>{{ tutor.name }}</td>
            <td>{{ tutor.lastname }}</td>
            <td>{{ tutor.email }}</td>
              <td>
                <button (click)="openprofesorModal(tutor)" class="btn btn-success">Profesores</button>
              </td>
              <td>
              <button (click)="openModal(tutor)" class="btn btn-warning">
                Edit
              </button>
            </td>
            <td>
              <button (click)="deletetutor(tutor.id)" class="btn btn-danger">
                Delete
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-tutor-crud
  [showModal]="showModal"
  [tutor]="tutor"
  (close)="closeModal($event)"
  (newTutor)="updateTutor($event)"
></app-tutor-crud>

<app-profesor-modal
  [showModal]="profesorModal"
  [profesorTutor]="profesorTutors"
  [tutor]="tutor"
  (close)="closeProfesorModal($event)"
></app-profesor-modal>
